---
import { backgroundWallpaper, siteConfig } from "@/config";
---

<!-- 全局配置载体 -->
<div
  id="config-carrier"
  data-hue={siteConfig.themeColor.hue}
  data-wallpaper-mode={backgroundWallpaper.mode}
>
</div>
