---
// 只加载基础的等宽字体，减少加载时间
import "@fontsource-variable/jetbrains-mono";

interface Props {
	class: string;
}
const className = Astro.props.class;
---
<div data-pagefind-body class={`prose dark:prose-invert prose-base max-w-none! custom-md ${className}`}>
    <slot/>
</div>
